ATLAS_DB_PASSWORD=
MONGODB_URI=
JWT_SECRET=
EMAIL_USER=
EMAIL_PASS=
PUBLIC_BASE_URL=
FRONTEND_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ADMIN_PIN=
POLYGON_RPC_URL=
ANCHOR_CONTRACT_ADDRESS=
ANCHOR_WALLET_PRIVATE_KEY=
